{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<form method = "POST">
		{%csrf_token%}
		<fieldset>
			<legend>Join Today</legend>
			{{form |crispy}}
		</fieldset>
	      <button class="btn btn-outline-info" type="submit">Register</button>
	      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
	    </form>
	    <div class ="border-top pt=3">
	    	<small class ="text-muted">
	    		Already have an account? <a href="{% url 'login' %}">Sign in</a>
	    	</small>
	    </div>
</div>	


{% endblock %}